<article class="h-entry {% unless perma %}mb-4 lg:mb-8{% endunless %}">
    <header class="mb-2">
        <p class="text-sm my-0">
            <a href="{{micro-post.url}}" class="u-url u-uid text-lg">
                {% case post-type %}
                {% when 'note' %}
                <span>📔</span>
                {% when 'like' %}
                <span>♥</span>
                {% when 'reply' %}
                <span>↪</span>
                {% endcase %}
                <time datetime="{{micro-post.date | dateInISO8601}}" class="dt-published">{{ micro-post.date | friendlyDate }}</time>
            </a>
            {% if micro-post.data.updated %}
                {% assign publishDate = micro-post.date | friendlyDate %}
                {% assign updateDate = micro-post.data.updated | friendlyDate %}
                {% unless publishDate == updateDate %}
                    <span class="h5 text-xs lg:text-sm my-1 lg:mt-1 text-italic">(last updated on <time class="dt-updated" datetime="{{ micro-post.data.updated | dateInISO8601 }}">{{ micro-post.data.updated | friendlyDate }}</time>)</span>
                {% endunless %}
            {% endif %}
        </p>
        {%- if micro-post.data.category.size > 0 -%}
			<div class="post-tag mb-4 flex flex-row flex-wrap items-top lg:items-center">
				<span class="text-gray-800 dm:text-gray-300 text-sm mr-1">Categorized under:</span>
				{% for cat in micro-post.data.category %}
				{% assign cat_name = cat | slug %}
					<span class="text-gray-600 dm:text-gray-400 text-sm hover:text-indiple-regular mr-1 p-category">#{{cat}}</span>
				{% endfor %}
			</div>
		{%- endif -%}
    </header>
    <main>
        {% comment %} Quoted author's info {% endcomment %}
        {% case post-type %}
        {% when 'like' %}
            {% unless perma %}
            {% assign likeOf = micro-post.data.likeOf %}
            {% endunless %}
            {% if likeOf.author %}
            <p class="h-cite u-like-of">
                Liked <a class="u-url" href="{{likeOf.link}}">{{likeOf.link}}</a> by <span class="p-author h-card"><a class="u-url p-name" href="{{likeOf.authorLink}}">{{likeOf.author}}</a></span>
            </p>
            {% else %}
            <p class="p-summary">Liked <a class="u-like-of" href="{{likeOf.link}}">{{likeOf.link}}</a>.</p>
            {% endif %}
        {% when 'reply' %}
            {% unless perma %}
            {% assign inReplyTo = micro-post.data.inReplyTo %}
            {% endunless %}
            {% if inReplyTo.author and inReplyTo.authorUrl %}
            <p class="h-cite u-in-reply-to">
                In reply to <a class="u-url" href="{{inReplyTo.url}}">{{inReplyTo.url}}</a> by <span class="p-author h-card"><a class="u-url p-name" href="{{inReplyTo.authorUrl}}">{{inReplyTo.author}}</a></span>
                {%- if inReplyTo.context %}
                <blockquote class="p-content"><p>{{inReplyTo.context}}</p></blockquote>
                {%- endif %}
            {% else %}
            <p class="p-summary">In reply to <a class="u-in-reply-to" href="{{inReplyTo.url}}">{{inReplyTo.url}}</a>:</p>
            {% endif %}
        {% endcase %}

        {% comment %} Own content {% endcomment %}
        {% comment %} TODO Dry {% endcomment %}
        {% case post-type %}
        {% when 'note' %}
            <div class="e-content">{% if perma %}{{ content }}{% else %}{{ micro-post.templateContent }}{% endif %}</div>
        {% when 'reply' %}
            <div class="e-content">{% if perma %}{{ content }}{% else %}{{ micro-post.templateContent }}{% endif %}</div>
        {% endcase %}
    </main>
    {% if perma %}
    <footer>
        {% render author-card,
            authors: site.authors,
            slug: micro-post.author,
            hide: true,
            post: true
        %}
    </footer>
    {% endif %}
</article>
